.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.dynamic-button {
  cursor: pointer;
  position: relative;
  font-size: 15px;
  color: #999;
  transition: all .3s;
}

.dynamic-button:hover {
  color: #777;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.totalCost {
  margin-left: 5em;
  margin-top: 2em;
}