.side-content {
  margin-top: 6em;
  margin-left: 1.5em;
  margin-bottom: 4em;
  padding: 13px;
}

.confirm-button {
  margin-top: 2.6em;
  margin-left: 4em;
}

.title {
  margin-left: 4.5em;
  margin-bottom: 1.5em;
}

.foot {
  text-align: center;
  background: #F8F8F8
}