.side-content {
  margin-top: 6em;
  margin-left: 1.5em;
}

.confirm-button {
  margin-top: 3em;
  margin-left: 5em;
}

.title {
  margin-left: 5.5em;
  margin-bottom: 1em;
}

.foot {
  text-align: center;
  background: #F8F8F8
}